<section class="container">
  <h3 class="seller-name">{{seller.name}}</h3>
<img src="/images/{{item.filename}}" alt="{{item.details}}">
  <section class="marketplace-item">
    <h3>{{item.title}}</h3> 
    <h4>{{item.price}}</h4>
    <p>{{seller.name}}</p>
    <p>{{item.details}}</p>
  </section>
</section>
{{#if loggedIn}}
{{!-- message seller chatroom.handlebars --}}
{{else}}
<a href="/login">You must be logged in to message the seller</a>
{{/if}}

{{!-- User must be logged into message the seller, but not to view --}}